.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px 0;
}

.dialogsItems {
    padding: 0 10px;
    color: #cdc2c2;
    border-right: solid 1px #cdc2c2;
}

.messages {
    padding: 10px;
    color: #cdc2c2;
}