.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.dialogsItems {
    padding: 0 10px;
    color: #cdc2c2;
    border-right: solid 1px #cdc2c2;
}

.messages {
    padding: 10px;
    color: #cdc2c2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages>div:first-child {
    flex-grow: 10;
}